$footer-height: 142px;

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-height;
}

.page-wrapper:after {
  content: "";
  display: block;
}

.site-footer-container, .page-wrapper:after {
  height: $footer-height;
}

.site-footer-container {
}
